<nav>
  <div class="Sectors">
    <div>
      <p>C'Shop</p>
    </div>
    <div>
      <p>C'Express</p>
    </div>
    <div>
      <p>C'Clean</p>
    </div>
    <div>
      <p>C'Events</p>
    </div>
  </div>
</nav>