<div class="container">
  <div><%= image_tag url_for(@product.image), class: "current-image" %></div>
  <div><h2><%= @product.name %></h2></div>
  <div><%= @product.description %></div>
  <div><%= @product.price %></div>
</div>
